[submodule "modules/wget"]
	path = modules/wget
	url = git://github.com/maestrodev/puppet-wget.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = git://github.com/willdurand/puppet-nodejs.git
