<h3 ng-show="viewCount(view.name)" ng-click="opened[view.name] = !opened[view.name]">
    <i class="badge {{ view.color }}"></i> {{ view.name }}
</h3>

<div ng-show="opened[view.name] || view.color !== 'blue'" class="clear">
    <div ng-repeat="job in view.jobs" class="col-1-{{ jobsPerLine }}">
        <div class="job job-color-{{ job.color }}" ng-show="opened[view.name] || (!opened[view.name] && (job.color === 'red' || job.color === 'red_anime' || job.color === 'blue_anime'))">
            <h2><a href="{{ job.url }}" target="_blank">{{ job.name }}</a></h2>
        </div>
    </div>
</div>
