angular.module('config', [])
    .constant('CONFIG', {
        'CI': {
            'JENKINS': {
                'URL': '{#JENKINS_URL#}',
                'AUTHORIZATION_TOKEN': '{#AUTHORIZATION_TOKEN#}',
                'DEFAULT_VIEW': 'All',
                'JOBS_TO_BE_DISPLAYED': ['blue', 'red', 'blue_anime', 'red_anime'],
            }
        },
        'DEFAULT_JOBS_PER_LINE': 4,
        'REFRESH_TIME': 10000,
        'BACKGROUND_BLANK_SCREEN_URL': 'image-url-or-null',
        'JOBS_NOT_DISPLAYED_REGEXP': '^regexp$'
    });

